body {
  background: #1e1e1e;
  color: white;
  font-family: Arial;
  padding: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}